body {                                      /* This block of CSS is responsible for setting page wide properties such as colours, alignments, */
    display: flex;                          /* font's and text colours. This CSS block is used site-wide for lots of different assets. */
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    background-color: #111111;
    color: #FFFFFF;
}

/* Login page CSS (login_pane, login_content, login_title_content, .description_text, .subtitle_content) */
/* The following CSS is responsible for handing all of the login page material and content. */

#login_pane {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 275px;
    max-width: 300px;
    min-height: 300px;
    margin: auto;
    padding: 1rem;
    border-radius: 1.5rem;
    background-color: #111111;
    text-align: center;
    box-sizing: border-box;
    z-index: 1;
}

#login_pane::before {
    position: absolute;
    content: "";
    inset: 0;
    padding: 0.25rem;
    border-radius: 1.5rem;
    background: linear-gradient(to bottom, #004067, #FFFFFF);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
}

#login_pane #login_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

#login_pane h1 {
    font-size: clamp(1.5rem, 5vw, 2rem);
    margin-bottom: 0;
    color: #FFFFFF;
}

#login_pane p {
    font-size: clamp(1rem, 4vw, 1.25rem);
    margin-bottom: 1.5rem;
}

#login_pane input {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    width: 100%;
    max-width: 300px;
    height: 1.5rem;
    padding: 0.25rem 0.5rem;
    margin-bottom: 0.8rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-size: 0.8rem;
}

#login_pane input[type="submit"] {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    height: 1.5rem;
    padding: 0 0.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #004067;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease;
    font-size: 0.8rem;
}

#login_pane input[type="submit"]:hover {
    background-color: #006089;
}

#login_pane .description_text {
    font-size: 0.6rem;
    margin-top: 1rem;
    opacity: 0.7;
}

#login_pane .subtitle_text {
    font-size: 0.6rem;
    margin-top: 0px;
    opacity: 0.7;
}

@media (max-width: 480px) {

    #login_pane input,
    #login_pane input[type="submit"] {
        height: 2.5rem;
        font-size: 1rem;
    }

    #login_pane .description_text,
    #login_pane .subtitle_text {
        font-size: 0.75rem;
    }
}